{% extends "qualview/base.html" %}
{% block title %} 불량내역 {% endblock %}
{% block script %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
        <style>
            #char-container {
                border: 1px solid red;
                display: block;
                width: 600px;
                height: 200px;
            }
            #listChart {
                border: 1px solid blue;
                display: block;
                width: 600vw;
                height: 200px;
            }
            #table-container {
                border: 1px solid green;
                margin-top: 10px;
                margin-bottom; 10px;
            }
        </style>
{% endblock %}
{% block contents %}
        <div>
            <h1 style="float: left;">일일 불량 발생 내역</h1>
            <h4 style="float: right;">작성일: {{ today }}</h4>
        </div>
        <div class="chart-container">
            <canvas id="listChart"></canvas>
            <script>
                var ctx = document.getElementById("listChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [{% for day, amount in amounts %}
                                    "{{ day }}"
                                    {% if not forloop.last %},{% endif %}
                                {% endfor %}],
                        datasets: [{
                            label: '불량수량: ',
                            data: [{% for day, amount in amounts %}
                                    "{{ amount }}"
                                    {% if not forloop.last %},{% endif %}
                                {% endfor %}],
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
            </script>
        </div>
        <div id="table-container">
            실적 테이블
        </div>
        <div>
            <ul>
                <li>
                    등록일 | 등록라인 | 불량현상
                </li>
                {% for list in lists %}
                    {% if list.귀책처 == '821' %}
                <li>
                        {{ list.등록일 }} | {{ list.등록라인 }} | {{ list.불량현상 }}
                </li>    
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
{% endblock %}