<!doctype html>
<html>
    <head>
        <title>불량내역</title>
        <meta charset="utf-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
    </head>
    <body>
        <div>
            <h1>불량 발생 내역 : {{ today }} 기준</h1>
        </div>
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
            <canvas id="listChart" width="400" height="200"></canvas>
            <script>
                var ctx = document.getElementById("listChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [{% for day, amount in amounts %}
                                    "{{ day }}"
                                    {% if not forloop.last %},{% endif %}
                                {% endfor %}],
                        datasets: [{
                            label: '불량수량: ',
                            data: [{% for day, amount in amounts %}
                                    "{{ amount }}"
                                    {% if not forloop.last %},{% endif %}
                                {% endfor %}],
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
            </script>
        </div>

        <div>
            <ul>
                <li>
                    등록일 | 등록라인 | 불량현상
                </li>
                {% for list in lists %}
                    {% if list.귀책처 == '821' %}
                <li>
                        {{ list.등록일 }} | {{ list.등록라인 }} | {{ list.불량현상 }}
                </li>    
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </body>
</html>