{% extends "qualview/base.html" %}
{% block title %}불량내역 - 월실적{% endblock %}
{% block script %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
{% endblock %}
{% block contents %}
        <div>
            <h1 style="float: left;">'17년 실적</h1>
            <h4 style="float: right;">작성일: {{ today }}</h4>
        </div>
        <div class="chart-container">
            <canvas id="listChart"></canvas>
            <script>
                var ctx = document.getElementById("listChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ["1월","2월","3월","4월","5월","6월","7월","8월","9월","10월","11월","12월"],
                        datasets: [{
                            label: '17년 계획: ',
                            fill: false,
                            borderDash: [5, 5],
                            backgroundColor: "#990000",
                            borderColor: "#990000",
                            data: [124,233,432,235,236,344,233,135,346,566,324,243,343],
                        },{
                            label: '17년 실적: ',
                            fill: false,
                            backgroundColor: "#000099",
                            borderColor: "#000099",
                            data: [231,235,124,343,555,344,343,5,6,6,4,3,3],
                        }]
                    },
                    options: {
                        elements: {
                            line: {
                                tension: 0,
                            },
                        },
                        scales: {
                            xAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: "월",
                                },
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: "발생금액(천원)",
                                },
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
            </script>
        </div>
        <div id=table>
            월별실적 테이블
            <table border=1>
                <tr>
                <td>1월</td>
                <td>2월</td>
                <td>3월</td>
                <td>4월</td>
                <td>5월</td>
                <td>6월</td>
                <td>7월</td>
                <td>8월</td>
                <td>9월</td>
                <td>10월</td>
                <td>11월</td>
                <td>12월</td>
                </tr>
            </table>
        </div>
        <div id=analyse>
            증감분석
        </div>
{% endblock %}