{% extends "qualview/base.html" %}
{% block title %}불량내역 - 월실적{% endblock %}
{% block script %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
{% endblock %}
{% block contents %}
        <div>
            <h2 style="float: left;">※ 설비보전팀 17년 OS&D 달성 현황</h2>
            <h4 style="float: right;">작성일: {{ today }}</h4>
        </div>
        <div class="chart-container">
            <canvas id="listChart"></canvas>
            <script>
                var ctx = document.getElementById("listChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ["1월","2월","3월","4월","5월","6월","7월","8월","9월","10월","11월","12월"],
                        datasets: [{
                            label: '17년 계획: ',
                            fill: false,
                            borderDash: [5, 5],
                            backgroundColor: "#550000",
                            borderColor: "#550000",
                            data: [2212,2055,2503,2198,2367,2433,2176,2071,2617,2144,2752,2472],
                        },{
                            label: '17년 실적: ',
                            fill: false,
                            backgroundColor: "#000055",
                            borderColor: "#000055",
                            data: [2289,1740,2536,1680,2806,1717],
                        }]
                    },
                    options: {
                        elements: {
                            line: {
                                tension: 0,
                            },
                        },
                        scales: {
                            xAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: "월",
                                },
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: "발생금액(천원)",
                                },
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
            </script>
        </div>
        <div id=table>
            {% include "qualview/t_monthly.html" %}
        </div>
        <div id=analyse>
            {% include "qualview/t_monthly_a.html" %}
        </div>
{% endblock %}