<table class="tg2" style="undefined;table-layout: fixed; width: 1000px">
<colgroup>
<col style="width: 140px">
<col style="width: 430px">
<col style="width: 430px">
</colgroup>
  <tr>
    <th class="tg-s6z2">구분</th>
    <th class="tg-s6z2">6월 증감 분석</th>
    <th class="tg-s6z2">7월 계획</th>
  </tr>
  <tr>
    <td class="tg-s6z2">1공장</td>
    <td class="tg-s6z3">● '17년 6월 1.7 백만원 비용 발생, 계획대비 142% 달성<br>
        1) 불량 발생 비용 1.3백만원 (22건, 36EA)<br>
        - 상용 T/M가공 2반 메인샤프트 연마(CT017-20) 과삭(-0.01) 발생<br>
        ㄴ 외경게이지 이상으로 신규 교체 → 생산팀에 게이지 수시 점검 요청完<br>
        2) Try-Out 비용 0.4 백만원 (4건, 13EA)<br>
        - 승용 피니언 기어 치연마 (PA127-20, 275G) 유압유 누유 과다 점검<br>
    </td>
    <td class="tg-s6z3">● 고장 저감 활동 (주요설비 노후 부품 교체)<br>
        1) 상용 열처리 연속로 4호기 정기보수(6/29 ~ 8/7)<br>
        - 기계 노후 부품 교체, 내부 축로(내화벽돌, 레일) 교체外<br>
        2) 승용 변속2/3라인, 승용액슬 5라인 메인 컨베어 인버터 업그레이드 작업(7/8)<br>
        - 노후/단종 인버터 사전 교체 추진(6대)<br>
        3) 하절기 예방보전 (내부 FAN 청소, 습기제거제 투입)<br>
    </td>
  </tr>
  <tr>
    <td class="tg-s6z2">2공장</td>
    <td class="tg-s6z3">
        ● 6월 4.4백만원 비용 발생, 계획대비 63% 달성<br>
        1) 장비작동 이상(가공,조립) : 3.9 백만원(26건, 215EA)<br>
        - PHC12 30 진공 침탄로 경도불량 外<br>
        2) 복합연마(PT015,017) : 0.2 백만원 (8건, 9EA)<br>
        - 연동중 원인 불명에 인한 내,외경, 단차 가공이상<br>
        3) TRY-OUT : 0.3 백만원 (9건, 18EA)<br>
        - PT38 치연삭기 메싱센서 이상 수리 外<br>
    </td>
    <td class="tg-s6z3">
        ● 불량 발생 원인 조사 및 점검<br>
        1) 복합연마기 예방보전 (1대/2개월)<br>
        - C축 부하량 점검, 설비 내부 청소 外<br>
        2) 열처리 예방점검 (1, 2호기 , 1개월 주기 지속 ~)<br>
        - 가스주입배관 막힘 점검<br>
        3) 하절기 예방보전<br>
        - 볼트 증체 작업, 열화상 점검, FAN 청소 外<br>
    </td>
  </tr>
</table>