<table class="tg" style="undefined;table-layout: fixed; width: 1000px">
<colgroup>
<col style="width: 10px">
<col style="width: 50px">
<col style="width: 80px">
</colgroup>
  <tr>
    <th class="tg-hgcj" colspan="3" rowspan="2">구분</th>
    <th class="tg-hgcj" colspan="13">월별발생현황</th>
  </tr>
  <tr>
    <td class="tg-amwm">1월</td>
    <td class="tg-hgcj">2월</td>
    <td class="tg-hgcj">3월</td>
    <td class="tg-hgcj">4월</td>
    <td class="tg-hgcj">5월</td>
    <td class="tg-hgcj">6월</td>
    <td class="tg-hgcj">7월</td>
    <td class="tg-hgcj">8월</td>
    <td class="tg-hgcj">9월</td>
    <td class="tg-hgcj">10월</td>
    <td class="tg-hgcj">11월</td>
    <td class="tg-hgcj">12월</td>
    <td class="tg-hgcj">계</td>
  </tr>
  <tr>
    <td class="tg-s6z2" rowspan="9"></td>
    <td class="tg-s6z2" rowspan="3">1공장</td>
    <td class="tg-s6z2">17년 목표</td>
    <td class="tg-baqh">2,212</td>
    <td class="tg-s6z2">2,055</td>
    <td class="tg-s6z2">2,503</td>
    <td class="tg-s6z2">2,198</td>
    <td class="tg-s6z2">2,367</td>
    <td class="tg-s6z2">2,433</td>
    <td class="tg-s6z2">2,176</td>
    <td class="tg-s6z2">2,071</td>
    <td class="tg-s6z2">2,617</td>
    <td class="tg-s6z2">2,144</td>
    <td class="tg-s6z2">2,752</td>
    <td class="tg-s6z2">2,472</td>
    <td class="tg-s6z2">13,769</td>
  </tr>
  <tr>
    <td class="tg-s6z2">17년 실적</td>
    <td class="tg-baqh">2,289</td>
    <td class="tg-s6z2">1,740</td>
    <td class="tg-s6z2">2,536</td>
    <td class="tg-s6z2">1,680</td>
    <td class="tg-s6z2">2,806</td>
    <td class="tg-s6z2">1,717</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">12,768</td>
  </tr>
  <tr>
    <td class="tg-s6z2">달성률</td>
    <td class="tg-baqh">97%</td>
    <td class="tg-s6z2">118%</td>
    <td class="tg-s6z2">99%</td>
    <td class="tg-s6z2">131%</td>
    <td class="tg-s6z2">84%</td>
    <td class="tg-s6z2">142%</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">108%</td>
  </tr>
  <tr>
    <td class="tg-s6z2" rowspan="3">2공장</td>
    <td class="tg-s6z2">17년 목표</td>
    <td class="tg-baqh">3,369</td>
    <td class="tg-s6z2">3,225</td>
    <td class="tg-s6z2">3,622</td>
    <td class="tg-s6z2">2,596</td>
    <td class="tg-s6z2">2,645</td>
    <td class="tg-s6z2">2,764</td>
    <td class="tg-s6z2">2,406</td>
    <td class="tg-s6z2">2,585</td>
    <td class="tg-s6z2">2,767</td>
    <td class="tg-s6z2">2,888</td>
    <td class="tg-s6z2">2,945</td>
    <td class="tg-s6z2">3,188</td>
    <td class="tg-s6z2">18,220</td>
  </tr>
  <tr>
    <td class="tg-s6z2">17년 실적</td>
    <td class="tg-baqh">1,851</td>
    <td class="tg-s6z2">1,012</td>
    <td class="tg-s6z2">635</td>
    <td class="tg-s6z2">1,494</td>
    <td class="tg-s6z2">1,055</td>
    <td class="tg-s6z2">4,390</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">10,437</td>
  </tr>
  <tr>
    <td class="tg-s6z2">달성률</td>
    <td class="tg-baqh">182%</td>
    <td class="tg-s6z2">319%</td>
    <td class="tg-s6z2">570%</td>
    <td class="tg-s6z2">174%</td>
    <td class="tg-s6z2">251%</td>
    <td class="tg-s6z2">63%</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">175%</td>
  </tr>
  <tr>
    <td class="tg-s6z2" rowspan="3">종합</td>
    <td class="tg-s6z2">17년 목표</td>
    <td class="tg-baqh">5,581</td>
    <td class="tg-s6z2">5,280</td>
    <td class="tg-s6z2">6,125</td>
    <td class="tg-s6z2">4,794</td>
    <td class="tg-s6z2">5,012</td>
    <td class="tg-s6z2">5,197</td>
    <td class="tg-s6z2">4,582</td>
    <td class="tg-s6z2">4,656</td>
    <td class="tg-s6z2">5,384</td>
    <td class="tg-s6z2">5,032</td>
    <td class="tg-s6z2">5,697</td>
    <td class="tg-s6z2">5,660</td>
    <td class="tg-s6z2">31,989</td>
  </tr>
  <tr>
    <td class="tg-s6z2">17년 실적</td>
    <td class="tg-baqh">4,140</td>
    <td class="tg-s6z2">2,752</td>
    <td class="tg-s6z2">3,171</td>
    <td class="tg-s6z2">3,174</td>
    <td class="tg-s6z2">3,861</td>
    <td class="tg-s6z2">6,107</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">23,205</td>
  </tr>
  <tr>
    <td class="tg-s6z2">달성률</td>
    <td class="tg-baqh">135%</td>
    <td class="tg-s6z2">192%</td>
    <td class="tg-s6z2">193%</td>
    <td class="tg-s6z2">151%</td>
    <td class="tg-s6z2">130%</td>
    <td class="tg-s6z2">85%</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">　</td>
    <td class="tg-s6z2">138%</td>
  </tr>
</table>